<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="api">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="API_LOGIN" value="login"/>
        <const name="API_PASSWORD" value="password"/>
        <const name="API_TOKEN" value="integration_access_token"/>
        <const name="API_TENANT_DOMAIN" value="google"/>
        <const name="API_URI" value=".dooglys.local:8443/api/"/>
    </php>
</phpunit>